.div-button-form {
    display: flex;
    justify-content: center;
}
.button-form{
    background-color: #9fa6ab;
    color: black;
    font-weight: 400;
    border: none;
    width: 30%
}
.button-form:hover{
    background-color: #848b93;
    color: black;
}
h2{
    font-family: 'Century Gothic' , Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}